{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- about -->
<section class="section container pt-5">
  <div class="lead">
    {{ .Content }}
  </div>
</section>
<!-- /about -->

<!-- Work Process -->
{{ if site.Data.about.work_process.enable }}
{{ with site.Data.about.work_process }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ .icon | absURL }}" class="mb-4" alt="icon">
        <h4 class="mb-4">{{ .title }}</h4>
        <p>{{ .content | markdownify }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- ./Work Process -->

<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Our Process</h2>
      </div>
      <div>
        <h3 class="mt-2"><i class="fa fa-handshake mx-2"></i> Intro Consultation</h3>
        <p>
          We offer free, no-commitment consultation calls to discuss your specific needs, vision, and answer
          any questions you may have. During the call we will discuss if a collaboration with FreshlyMinted is right for you and
          determine how to move forward. To schedule a consultation, please fill out this form. We look forward to hearing from
          you!
        </p>
        <h3 class="mt-2"><i class="fa fa-images mx-2"></i>Generative Art NFTs</h3>
        <p>
          Digital art is the most popular use for NFTs. Whether you already have designs in mind or you need us to
          make something completely from scratch, our team won’t stop until we have something that we are all excited about.
          Freshly Minted talented in-house artist has experience designing art for successful NFT projects and has a wide range
          of artistic skills. To check out some of their past work, click here: asdf
        </p>
        <h3 class="mt-2"><i class="fa fa-wrench mx-2"></i>Utility NFTs</h3>
        <p>
          "Utility NFT" refers to any NFT that has real tangible value apart from acting as static digital
          collectibles. This can include a wide variety of things such as physical gifts associated, special events and other
          exclusive offers for NFT holders to get excited about. The possibilities are endless and we would love to discuss what
          utility NFTs could bring to the table for your brand.
        </p>
        <h3 class="mt-2"><i class="fa fa-user-friends mx-2"></i> Marketing & Community</h3>
        <p>
          The most important factor for any NFT launch is hype surrounding the project. We will heavily
          market your project through to our growing group of passionate followers, and share your project with influential
          people within the community in order to spread the word. Combining this with your own social media platforms to get
          your fans engaged is a recipe for success to help ensure your project sells out.
        </p>
        <h3 class="mt-2"><i class="fab fa-ethereum mx-2"></i> Smart Contracts</h3>
        <p>
          Smart contracts provide the logic behind every blockchain application, from NFT to automated market maker (AMM). Our
          engineering team has extensive experience with EVM-based smart contracts (i.e. those written in Solidity and deployed on
          Ethereum or Polygon), as well as other blockchains, such as Algorand and NEAR.
        </p>
        <h3 class="mt-2"><i class="fas fa-rocket mx-2"></i> Mission Statement</h3>
        <p>
          Our mission is to make entering the world of NFTs accessible and easy for all.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- team -->
{{ if site.Data.about.team.enable }}
{{ with site.Data.about.team }}
<section class="section bg-cover" data-background="{{`images/backgrounds/team-bg.png`|relURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .team_member }}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center">
          <img src="{{ .image | absURL }}" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{.title }}</h4>
            <p class="text-primary font-secondary">{{.designation }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /team -->

{{ if site.Data.about.clients_logo_slider.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.Data.about.clients_logo_slider.title | markdownify }}</h2>
      </div>
    </div>
    {{ partial "client-slider.html" . }}
  </div>
</section>
{{ end }}

{{ end }}
